.feedback {
    background-image: url(../images/feedback.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding: 70px 0 90px;
    color: #fff;
    @media (max-width: 1600px) {
        padding: 100px 0;
    }
    @media (max-width: 600px) {
        padding: 80px 0;
    }
    @media (max-width: 400px) {
        padding: 40px 0;
    }
    &-title {
        display: block;
        font-family: $r;
        font-size: 48px;
        margin-bottom: 80px;
        @media (max-width: 600px) {
            font-size: 38px;
            margin-bottom: 60px;
        }
        @media (max-width: 400px) {
            font-size: 32px;
            margin-bottom: 40px;
        }
    }

    &-options {
        button {
            display: inline-block;
            vertical-align: top;
            margin: 0 35px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            padding: 0;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            @media (max-width: 600px) {
                margin: 0px 30px 20px;
            }
            &:hover {
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
                transform: scale(1.1);
            }

            img {
                display: block;
                height: 30px;
                margin: 0 auto;
            }

            span {
                color: #fff;
                font-size: 1.125rem;
                text-transform: uppercase;
                margin-top: 8px;
                display: block;
                text-align: center;
            }
        }
    }
}