.footer {
    background-color: #fff;
    padding: 70px 0 75px;
    letter-spacing: 0.025em;
    color: #434343;
    font-family: $r;
    @media (max-width: 1600px) {
        padding: 60px 0 65px;
    }
    @media (max-width: 600px) {
        padding: 40px 0 20px;
    }
    &-top {
        @include flex($alignI: flex-start);
        text-align: left;

        .left-side {
            width: 33.3333%;
            @media (max-width: 800px) {
                width: 100%;
                margin-bottom: 20px;
            }
        }

        .right-side {
            width: 66.6666%;
            padding-left: 8%;
            padding-top: 8px;
            text-align: right;
            @media (max-width: 800px) {
                width: 100%;
                padding-left: 0;
                .button {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }

    &-logo {
        width: 100%;
        display: block;
        margin-bottom: 20px;
        @media (max-width: 800px) {
            width: 200px;
        }
        img {
            display: block;
            width: 100%;
        }
    }

    &-text {
        p:not(:last-child) {
            margin-bottom: 1.22rem;
        }
    }

    &-menu {
        text-align: left;
        margin-bottom: 1rem;
        .menu {
            @include flex($alignI: flex-start);

            & > .menu-item {
                width: 30%;
                list-style: none;
                padding: 0 15px;
                @media (max-width: 500px) {
                    padding: 0 5px;
                }
                &:nth-child(2) {
                    width: 40%;
                }

                & > a {
                    font-family: $rm;
                    text-transform: uppercase;
                    color: #231f20;
                    width: 100%;
                    display: block;
                    margin-bottom: 0.7rem;
                    @media (max-width: 600px) {
                        min-height: 32px;
                        position: relative;
                    }
                }
            }

            .sub-menu {
                list-style: none;

                a {
                    color: #434343;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .menu-item {
                    margin-bottom: 0.33rem;
                }
            }
        }
    }

    &-bottom {
        @include flex();
        font-size: 1rem;
        padding-top: 50px;
        
        .copyright {
            width: 50%;
            @media (max-width: 600px) {
                width: 50%;
                text-align: right;
            }
            @media (max-width: 360px) {
                font-size: 10px;
            }
        }

        .studio,
        .socials {
            width: 25%;
            @media (max-width: 600px) {
                width: 50%;
            }
        }
        .studio {
            @media (max-width: 600px) {
                width: 100%;
                text-align: center !important;
                margin-top: 20px;
            }
        }
    }


    .socials {
        text-align: left;

        a {
            display: inline-block;
            vertical-align: middle;
            margin: 0 7px;
            &:first-child {
                margin-left: 0;
            }

            img {
                display: block;
                height: 1rem;
            }
        }
    }

    .studio {
        text-align: right;

        a {
            color: inherit;
        }
    }
}

.fullpage-section .footer,
.fullpage-section  .footer-menu .menu .sub-menu a,
.fullpage-section .footer-menu .menu > .menu-item > a {
    background-color: transparent;
    color: #FFF;
}