.footer {
    background-color: #fff;
    padding: 70px 0 75px;
    letter-spacing: 0.025em;
    color: #434343;
    font-family: $r;
    @media (max-width: 1600px) {
        padding: 60px 0 65px;
    }
    @media (max-width: 600px) {
        padding: 40px 0 20px;
    }
    &-top {
        @include flex($alignI: flex-start);
        text-align: left;

        .left-side {
            width: 28%;
            @media (max-width: 800px) {
                width: 100%;
                margin-bottom: 20px;
            }
        }

        .right-side {
            width: 72%;
            text-align: right;
            @media (max-width: 800px) {
                width: 100%;
                padding-left: 0;
                text-align: left;
                .button {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }

    

    &-text {
        font: 18px/30px $r;
        padding-right: 60px;
        padding-top: 6px;
        p:not(:last-child) {
            margin-bottom: 1.22rem;
        }
        @media (max-width: 1000px) {
            padding-right: 0;
        }
    }

    &-menu {
        text-align: left;
        margin-bottom: 1rem;
        width: 76%;
        display: inline-block;
        vertical-align: top;
        margin-right: -2px;
        @media (max-width: 800px) {
            width: 100%;
            text-align: left;
            margin-right: 0;
        }
        & + div {
            width: 23%;
            display: inline-block;
            vertical-align: top;
            margin-right: -2px;
            text-align: center;
             img {
                 max-width: 100%;
             }
            @media (max-width: 800px) {
                width: 100%;
                display: block;
                text-align: left;
                img {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
        .menu {
            @include flex($alignI: flex-start);

            & > .menu-item {
                width: 50%;
                list-style: none;
                padding: 0 15px;
                @media (max-width: 800px) {
                    &:first-of-type {
                        padding-left: 0;
                    }
                }
                @media (max-width: 500px) {
                    padding: 0 5px;
                }

                & > a {
                    font-family: $rm;
                    font-size: 30px;
                    margin-bottom: 34px;
                    color: #1a5096;
                    width: 100%;
                    display: block;
                    @media (max-width: 1000px) {
                        font-size: 27px;
                        margin-bottom: 25px;
                    }
                    @media (max-width: 600px) {
                        font-size: 26px;
                        margin-bottom: 20px;
                    }
                    @media (max-width: 500px) {
                        font-size: 17px;
                        margin-bottom: 15px;
                    }
                }
            }

            .sub-menu {
                list-style: none;

                a {
                    color: #434343;
                    font: 24px $rm;
                    &:hover {
                        text-decoration: underline;
                    }
                    @media (max-width: 1000px) {
                        font-size: 22px;
                    }
                    @media (max-width: 600px) {
                        font-size: 20px;
                    }
                    @media (max-width: 500px) {
                        font-size: 17px;
                    }
                }

                .menu-item {
                    margin-bottom: 0.33rem;
                }
            }
        }
    }

    &-bottom {
        @include flex();
        font-size: 18px;
        padding-top: 50px;
        font-family: $r;
        .copyright {
            width: 50%;
            text-align: left;
            @media (max-width: 600px) {
                width: 100%;
                text-align: center;
            }
            @media (max-width: 360px) {
                font-size: 10px;
            }
        }

        .studio,
        .socials {
            width: 50%;
            @media (max-width: 600px) {
                width: 100%;
                text-align: center;
            }
        }
        .studio {
            @media (max-width: 600px) {
                width: 100%;
                text-align: center !important;
                margin-top: 20px;
            }
        }
    }


    .socials {
        text-align: center;
        margin-top: 30px;
        @media (max-width: 800px) {
            margin-top: 0;
            display: inline-block;
            vertical-align: middle;
        }
        a {
            display: inline-block;
            vertical-align: middle;
            margin: 0 40px;
            color: #434343;
            font-size: 28px;
            -webkit-transition: all .2s;
               -moz-transition: all .2s;
                -ms-transition: all .2s;
                 -o-transition: all .2s;
                    transition: all .2s;
            @media (max-width: 1050px) {
                margin: 0 26px;
            }
            @media (max-width: 850px) {
                margin: 0 16px;
            }
            &:first-child {
                margin: 0;
            }
            &:last-child {
                margin: 0;
            }
            &:hover {
                color: #1A5096;
            }
            img {
                display: block;
                height: 1rem;
            }
        }
    }

    .studio {
        text-align: right;

        a {
            color: inherit;
        }
    }
}

.fullpage-section .footer,
.fullpage-section  .footer-menu .menu .sub-menu a,
.fullpage-section .footer-menu .menu > .menu-item > a {
    background-color: transparent;
    color: #FFF;
}