.offer {
    margin: 40px auto 90px;
    &__bg {
        height: 555px;
         background-position: 50% 50%;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
        @media (max-width: 1400px) {
            height: 455px;
        }
        &:before {
            display: inline-block;
            vertical-align: middle;
            content: "";
            height: 100%;
        }
    }
    text-align: center;
    @media (max-width: 1400px) {
        margin: 20px auto 40px;
    }
    @media (max-width: 1199px) {
        margin-top: 0;
    }
    h1 {
        display: inline-block;
        vertical-align: middle;
        max-width: 80%;
        font: 72px $rb;
        color: #FFF;
        @media (max-width: 1550px) {
            font-size: 64px;
        }

        @media (max-width: 767px) {
            font-size: 52px;
        }
    }
}