.offer {
    &__bg {
        height: 555px;
        margin: 40px auto 90px;
         background-position: 50% 50%;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
        @media (max-width: 1400px) {
            height: 455px;
            margin: 20px auto 40px;
        }
        @media (max-width: 1199px) {
            margin-top: 0;
        }
        h1,
        h2 {
            color: #FFF !important;
        }
        &:before {
            display: inline-block;
            vertical-align: middle;
            content: "";
            height: 100%;
        }
    }
    text-align: center;
    h1,
    h2 {
        display: inline-block;
        vertical-align: middle;
        max-width: 80%;
        font: 72px $rb;
        color: #434343;
        margin: 28px auto;
        @media (max-width: 1550px) {
            font-size: 64px;
        }

        @media (max-width: 767px) {
            font-size: 52px;
        }
    }
}

article + .news-box {
    margin-top: 80px;
    margin-bottom: 40px;
}

.share {
    text-align: center;
    margin: 40px auto 80px;
    span {
        display: block;
        font: 30px $rm;
        color: #434343;
        margin-bottom: 18px;
    }
    a {
        margin: 0 20px;
        color: #434343;
        font-size: 28px;
        &:hover {
            color: #1a5096;
        }
    }
}

.slick-prev {
    left: -10%;
    @media (max-width: 1500px) {
        left: -20px;
    }
    @media (max-width: 500px) {
        left: 0px;
    }
}
.slick-next {
    right: -10%;
    @media (max-width: 1500px) {
        right: -20px;
    }
    @media (max-width: 500px) {
        right: 0px;
    }
}
.slick-prev:before {
    font-family: 'FontAwesome';
    content: "\f104";
    font-size: 24px;
}
.slick-next:before {
    font-family: 'FontAwesome';
    content: "\f105";
    font-size: 24px;
}

.photo-slider {
    height: 540px;
    max-height: 100%;
    .slick-list,
    .slick-track,
    .slick-slide {
        height: 100%;
    }
    .slick-slide {
        text-align: center;
        &:before {
            height: 100%;
            display: inline-block;
            vertical-align: middle;
            content: "";
        }
        img {
            display: inline-block;
            vertical-align: middle;
            max-width: 95%;
            max-height: 100%;
            @media (max-width: 500px) {
                max-width: 80%;
            }
        }
    }
}

.onepage {
    @media (max-width: 500px) {
       .fp-section .fp-tableCell {
           padding: 0;
       }
    }
}