
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
    font-family: $r;

}


// lAYOUT
// ---------------------------
.wrapper {
	width: 1200px;
    padding: 0 10px;
	margin: 0 auto;
	text-align: center;

    @media (max-width: 1200px) {
        width: 100%;
    }
}


.flex-container {
    @include flex();
}