// COLORS
// ---------------------------
$blue:                      #1a5096;
$grey:                      #434343;
$light-grey:                #6d6e71;
$red:                       #AF1D1E;

// FONTS
// ---------------------------
$r:                         'Roboto Regular';
$rm:                        'Roboto Medium';
$rb:                        'Roboto Bold';


// RESPONSIVE
// ---------------------------
